$font-primary: 'Poppins', sans-serif;

$color-primary: #364fc7;
$color-primary-light: #535bf2;

$color-secondary-light: #61dafb;
$color-secondary-dark: #213547;

$color-background-light: #f9f9f9;
$color-background-dark: #1a1a1a;
